
#homefeed{
    text-align: center;
}

#new-post-modal{
    text-align: center;
}
#new-post-modal-content{
    text-align: center;
}


/* MESSAGES */
.messages-label{
    text-align: center;
}

#view-messages-col{
    text-align: center;
}

/* PROFILE */
#user-feed{
    text-align: center;
}

#user-profile-text{
    text-align: center;
}

#user-fullname{
    font-size: large;
    font-weight:bold;
}

.change-profile-photo{
    text-align: center;
}

#profile-bio-col{
    margin-top: 5%;
}

#profile-photo-col{
    margin-top: 5%;
    
}