{% extends 'bootstrap/base.html' %}

	{% block styles %}
	<!--Bootstrap CSS-->	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		
	{% endblock styles %}
			

	{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the content block #}
        
		{% include 'navbar.html' %}
		
		{% block app_content %}{% endblock %}
    </div>
{% endblock %}
</html>