<div class="col-7" id="homefeed">
	{% for post in all_posts_all_users %}
	<div class="homefeed-post">
		<p>
			<a href="#" data-bs-toggle="modal" data-bs-target="#post-modal-{{post.id}}">
	   		<img src="{{post.image_url}}" alt="post image"  ><br></a>
	  		{{post.author.username}} | {{post.timestamp}} <br>
	  		{{post.caption}}<br>			
	  	</p>
		
		<!--post modal-->
		<div class="modal fade" id="post-modal-{{post.id}}" tabindex="-1" aria-labelledby="post-modal-{{post.id}}-label" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						{% include 'post_options.html' %} 
						</div>
						<div class="modal-body">
							<div class="row ">
								<div class="col-8" id="post-image">
									<img src={{post.image_url}} alt="post image", height="500">
									</div>
								<div class="col-3" id="post-right-sidebar">
									{% include 'post_details.html' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>