<!--main column:-->
<!--Search bar-->
<!--Feed-->

<!--right column:-->
<!--my profile pic, link to my profile-->

{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block app_content %}

	<div class="row">
		<div class="col" id="homefeed">
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>

		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<a href={{ url_for('user', username=current_user.username) }}><img src="../static/images/avatar.png" width="100"></a>
				</div>
				<div class="col">
					<a href={{ url_for('user', username=current_user.username) }}>My Profile</a>
					<a href="{{ url_for('logout') }}">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}