<!--main column:-->
<!--Search bar-->
<!--Feed-->

<!--right column:-->
<!--my profile pic, link to my profile-->

{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block app_content %}

	<div class="row">
		<div class="col">
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>
		  <h4>Feed will show up here</h4>
			<br>
			<br>
			<br>
			<br>
			<br>

		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<img src="../static/images/avatar.png" width="100">
				</div>
				<div class="col">
					<a href={{ url_for('profile') }}>My Profile</a>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}